body {
    background-image: url('assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.stuff {
    width: 620px;
    height: 840px;
    background-color: rgba(50, 50, 50, 0.850);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid #ffffff9c;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    flex-direction: column;
    border-radius: 30px;
}
#headertext {
    color: white;
    font-size: 3em;
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', sans-serif;
}
#divider {
    height: 2px;
    background-color: white;
    width: 80%;
    margin: 20px auto;
}
.info {
    color: white;
    font-size: 1em;
    margin-top: 5px;
    font-family: 'Inconsolata', sans-serif;
}
ul {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Inconsolata', sans-serif;
}
li {
    background-image: url('assets/link.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 40px;
    padding-bottom: 22px;
}
a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-out, transform 0.3s ease-out;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: none;
    transform: scale(1.2);
}
a:active {
    color: white;
    text-decoration: none;
}
