body {
    background-image: url('assets/bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.stuff {
    width: 620px;
    height: 840px;
    background-color: rgba(50, 50, 50, 0.500);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px dashed white;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
    flex-direction: column;
}
#headertext {
    color: white;
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Delius', sans-serif;
}
#divider {
    height: 2px;
    background-color: white;
    width: 80%;
    margin: 20px auto;
}
.info {
    color: white;
    font-size: 1em;
    margin-top: 5px;
    font-family: 'Delius', sans-serif;
}
ul {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Delius', sans-serif;
}
li {
    background-image: url('assets/link.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 8px;
}
a:visited {
    color: white;
}